body {
    font-family: 'Spectral';
    letter-spacing: 0.05em;
}

.overall-main-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.placement-container {
    display: flex;
    flex-direction: row;
}

.about-mini-me {
    border: 3px solid transparent;
    border-radius: 2rem;
    width: 25rem;
    height: auto;
    background-color: #E6E6FA;
    margin-left: 2rem;
}

.owner-img {
    display: flex;
    margin: 1rem auto;
    width: 20rem;
    border: 5px solid #4B0082;
    border-radius: 2rem;
}

.about-me-mini-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Spectral';
    letter-spacing: 0.05em;
    color: #4B0082;
    font-size: 1.25rem;
    width: 21.5rem;
}

.latest-project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 1rem;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25rem;
    height: 35rem;
    border: 3px solid transparent;
    border-radius: 2rem;
    background-color: #E6E6FA;
}

.project-name-smaller {
    margin-top: -1rem;
}

.project-img {
    width: 20rem;
    height: 10rem;
    border-radius: 2rem;
    margin-top: -1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.project-button {
    width: 9rem;
    height: 3rem;
    font-family: 'Spectral';
    letter-spacing: 0.05em;
    color: white;
    background-color: #4B0082;
    border: none;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-button:hover {
    background-color: rgb(186, 95, 186);
    cursor: pointer;
}

@media (max-width:1720px) and (min-width: 1440px) {
    .about-mini-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        width: 22.5rem;
        height: auto;
    }

    .owner-img {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 20rem;
    }

    .about-me-mini-text {
        font-size: 1.25rem;
        width: 20rem;
    }

    .latest-project-container {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin: 1rem auto;
    }

    .project-card {
        width: 18rem;
        height: 45rem;
    }

    .project-name {
        font-size: 1.25rem;
    }

    .project-name-smaller {
        margin-top: -1rem;
    }

    .project-img {
        width: 20rem;
        height: 15rem;
        margin-top: -1rem;
    }
}

@media (max-width:1440px) and (min-width: 1024px) {
        .overall-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .placement-container {
        display: flex;
        flex-direction: column;
    }

    .about-mini-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 54.5rem;
        margin-left: 1rem;
    }

    .owner-img {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 25rem;
    }

    .about-me-mini-text {
        font-size: 1.25rem;
        width: 20rem;
    }

    .latest-project-container {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin: 1rem auto;
    }

    .project-card {
        width: 18rem;
        height: 45rem;
    }

    .project-name {
        font-size: 1.25rem;
    }

    .project-name-smaller {
        margin-top: -1rem;
    }

    .project-img {
        width: 20rem;
        height: 15rem;
        margin-top: -1rem;
    }
}

@media (max-width:1024px) and (min-width: 768px) {
    .overall-main-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .placement-container {
        display: flex;
        flex-direction: column;
    }

    .about-mini-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 32.5rem;
    }

    .owner-img {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 30rem;
    }

    .about-me-mini-text {
        font-size: 1.25rem;
        width: 27.5rem;
    }

    .latest-project-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin: 1rem auto;
    }

    .project-card {
        width: 32.5rem;
        height: auto;
    }

    .project-name {
        font-size: 1.50rem;
    }

    .project-name-smaller {
        margin-top: -1rem;
    }

    .project-img {
        width: 25rem;
        height: auto;
        margin-top: -1rem;
    }
}

@media (max-width:768px) and (min-width: 430px) {

    .overall-main-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .placement-container {
        display: flex;
        flex-direction: column;
    }

    .about-mini-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 22.5rem;
    }

    .owner-img {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 20rem;
    }

    .about-me-mini-text {
        font-size: 1.25rem;
        width: 17.5rem;
    }

    .latest-project-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin: 1rem auto;
    }

    .project-card {
        width: 22.5rem;
        height: auto;
    }

    .project-name {
        font-size: 1.25rem;
    }

    .project-name-smaller {
        margin-top: -1rem;
    }

    .project-img {
        width: 15rem;
        height: 10rem;
        margin-top: -1rem;
    }
}

@media (max-width:430px) and (min-width: 350px) {
    .overall-main-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .placement-container {
        display: flex;
        flex-direction: column;
    }

    .about-mini-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 18rem;
    }

    .owner-img {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 15rem;
    }

    .about-me-mini-text {
        font-size: 1rem;
        width: 14.5rem;
    }

    .latest-project-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin: 1rem auto;
    }

    .project-card {
        width: 18rem;
        height: auto;
    }

    .project-name {
        font-size: 1.1rem;
    }

    .project-name-smaller {
        margin-top: -1rem;
    }

    .project-img {
        width: 10rem;
        height: 5rem;
        margin-top: -1rem;
    }
}