body {
    font-family: 'Playfair Display';
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6rem;
    border: solid 2px none;
    background-color: #D8BFD8;
}

.nav-bar-links {
    text-decoration: none;
}

.nav-bar-button {
    width: 10rem;
    height: 2.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #4B0082;
    background-color: transparent;
    border: transparent;
}

.nav-bar-button:hover {
    border-bottom: solid 4px #4B0082;
}

.page-title {
    color: #4B0082;
    text-align: center;
    font-size: 2rem;
}

.just-a-box {
    border: solid 2px none;
    width: 100%;
    height: 6rem;
    background-color: #D8BFD8;
}
@media (max-width:1920px) and (min-width: 1440px) {
        .nav-bar-button {
        width: 100%;
        height: 2.5rem;
        margin-left: 1.5rem;
        font-size: 1.1rem;
    }
    
    .page-title {
        font-size: 1.25rem;
    }
}
@media (max-width:1440px) and (min-width: 1024px) {
        .nav-bar-button {
        width: 100%;
        height: 2.5rem;
        margin-left: 4rem;
        font-size: 1.4rem;
    }
    
    .page-title {
        font-size: 1.55rem;
    }
}
@media (max-width:1024px) and (min-width: 768px) {
        .nav-bar-button {
        width: 100%;
        height: 2.5rem;
        margin-left: 3rem;
        font-size: 1.3rem;
    }
    
    .page-title {
        font-size: 1.45rem;
    }
}
@media (max-width:768px) and (min-width: 430px) {
        .nav-bar-button {
        width: 100%;
        height: 2.5rem;
        margin-left: 2.5rem;
        font-size: 1.2rem;
    }
    
    .page-title {
        font-size: 1.35rem;
    }
}
@media (max-width:430px) and (min-width: 350px) {    
    .nav-bar-button {
        width: 100%;
        height: 2.5rem;
        margin-left: 1.5rem;
        font-size: 1.1rem;
    }
    
    .page-title {
        font-size: 1.25rem;
    }
}